<div class="row">
  <div class="col-md-4">
    <div class="well text-center" style="height:300px;padding-top:100px">
      <button class="btn btn-warning" type="button" name="button" style="height:100px;">
        <%= link_to "Learn Choctaw", learn_path, class: "btn btn-success" %>
      </button>
    </div>
  </div>
  <div class="col-md-2">

  </div>
  <div class="col-md-4">
    <div class="well text-center" style="height:300px;padding-top:100px">
      <button class="btn btn-info" type="button" name="button" style="height:100px;">
        <%= link_to "View My Profile", viewProfile_path, class: "btn btn-primary" %>
      </button>
    </div>
  </div>
</div>
