<p id="notice"><%= notice %></p>

<p>
 <%= video_tag @lesson.video_url, size: "640x480", autoplay: true, controls: true, autobuffer: true %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
